#base{
    position: absolute;
    width: 263px;
    height: 168px;  
    background: rgb(58, 57, 57);
}

#screen{
    position: absolute;
    top: 15px;
    left:14px;
    width: 235px;
    height: 52px;
    background: rgb(133, 168, 133);
    box-shadow: inset -2px -2px 7px gray
}

#u-input{
    position: absolute;
    top: 134px;
    left: 14px;
    border: none;
    width: 235px;
    height: 21px;
    background: rgb(133, 168, 133);
    font-family: arial;
    box-shadow: inset -1px -1px 7px gray
}

.button{
    position: absolute;
    border-radius: 50%;
    top: 84px;
    width: 36px;
    height: 36px;
    background:#757D75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 20px;
    font-family: arial;
    text-align: center;
    line-height: 35px;
}

.button:hover{
    background: gray;
}

.button:active{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
}

#add-btn{
    left:14px;
}

#min-btn{
    left:81px;
}

#mul-btn{
    left:146px;
}

#div-btn{
    left:213px;
}